##mars news

In [1]:
import time
from splinter import Browser
from bs4 import BeautifulSoup
import pandas as pd
from selenium import webdriver

In [2]:
executable_path = {"executable_path": "/usr/local/bin/chromedriver"}
browser = Browser("chrome", **executable_path, headless=False)

In [3]:
url = "https://mars.nasa.gov/news/"
browser.visit(url)

In [4]:
html = browser.html
soup = BeautifulSoup(html, "html.parser")

In [5]:
news_title = soup.find("div", class_ = "content_title").text
news_paragraph = soup.find("div", class_ = "article_teaser_body").text

In [6]:
print(f'title: {news_title}')

title: NASA Encounters the Perfect Storm for Science

In [7]:
print(f'paragraph: {news_paragraph}')

paragraph: One of the most intense Martian dust storms ever observed is being studied by a record number of NASA spacecraft.

In [ ]:
##mars images

In [8]:
url_image = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(url_image)

In [9]:
from urllib.parse import urlsplit
base_url = "{0.scheme}://{0.netloc}/".format(urlsplit(url_image))
print(base_url)

https://www.jpl.nasa.gov/

In [10]:
xpath = "//*[@id=\"page\"]/section[3]/div/ul/li[1]/a/div/div[2]/img"

In [11]:
results = browser.find_by_xpath(xpath)
img = results[0]
img.click()

In [14]:
html_image = browser.html
soup = BeautifulSoup(html_image, "html.parser")
img_url = soup.find("img", class_="fancybox-image")["src"]
full_img_url = base_url + img_url
print(full_img_url)

https://www.jpl.nasa.gov//spaceimages/images/largesize/PIA22499_hires.jpg

In [ ]:
## mars weather

In [15]:
url_weather = "https://twitter.com/marswxreport?lang=en"
browser.visit(url_weather)

In [16]:
html_weather = browser.html
soup = BeautifulSoup(html_weather, "html.parser")
mars_weather = soup.find("p", class_="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text").text
print(mars_weather)

This has all the makings of a global dust storm. Keep warm Oppy.https://twitter.com/vivstoitsis/status/1006727211603222528 …

In [ ]:
##mars facts

In [17]:
url_facts = "https://space-facts.com/mars/"

In [18]:
table = pd.read_html(url_facts)
table[0]

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [26]:
df_mars_facts = table[0]
df_mars_facts.columns = ["Parameter", "Values"]

In [27]:
df_mars_facts.set_index(['Parameter'])

                                             Values
Parameter
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.42 x 10^23 kg (10.7% Earth)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.52 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                  -153 to 20 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [28]:
mars_html_table = df_mars_facts.to_html()
mars_html_table = mars_html_table.replace("\n", "")
mars_html_table

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Parameter</th>      <th>Values</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>Equatorial Diameter:</td>      <td>6,792 km</td>    </tr>    <tr>      <th>1</th>      <td>Polar Diameter:</td>      <td>6,752 km</td>    </tr>    <tr>      <th>2</th>      <td>Mass:</td>      <td>6.42 x 10^23 kg (10.7% Earth)</td>    </tr>    <tr>      <th>3</th>      <td>Moons:</td>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>4</th>      <td>Orbit Distance:</td>      <td>227,943,824 km (1.52 AU)</td>    </tr>    <tr>      <th>5</th>      <td>Orbit Period:</td>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>6</th>      <td>Surface Temperature:</td>      <td>-153 to 20 °C</td>    </tr>    <tr>      <th>7</th>      <td>First Record:</td>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>8</th>      <td>Recorded By:</td>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

In [ ]:
##mars hemispheres
##thanks matt!

In [71]:
hem_url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'

In [72]:
hem_images = ['Cerberus Hemisphere Enhanced', 'Schiaparelli Hemisphere Enhanced', 'Syrtis Major Hemisphere Enhanced',
             'Valles Marineris Hemisphere Enhanced']

In [73]:
hemisphere_image_urls = []

In [74]:
for image in hem_images:
    hem_image_data = {}
    browser.visit(hem_url)
    browser.click_link_by_partial_text(image)
    page_title = browser.title
    browser.click_link_by_text('Sample')
    page_url = browser.url
    hem_image_data = {
        'title': page_title,
        'img_url': page_url
    }
    hemisphere_image_urls.append(hem_image_data)
print("Finished with download")

Finished with download

In [75]:
hemisphere_image_urls

[{'img_url': 'https://astrogeology.usgs.gov/search/map/Mars/Viking/cerberus_enhanced',
  'title': 'Cerberus Hemisphere Enhanced | USGS Astrogeology Science Center'},
 {'img_url': 'https://astrogeology.usgs.gov/search/map/Mars/Viking/schiaparelli_enhanced',
  'title': 'Schiaparelli Hemisphere Enhanced | USGS Astrogeology Science Center'},
 {'img_url': 'https://astrogeology.usgs.gov/search/map/Mars/Viking/syrtis_major_enhanced',
  'title': 'Syrtis Major Hemisphere Enhanced | USGS Astrogeology Science Center'},
 {'img_url': 'https://astrogeology.usgs.gov/search/map/Mars/Viking/valles_marineris_enhanced',
  'title': 'Valles Marineris Hemisphere Enhanced | USGS Astrogeology Science Center'}]